os: linux
dist: bionic
language: python
python:
  - "3.7"
before_install:
- sudo apt-get update
- sudo apt-get -y install build-essential git subversion cmake libx11-dev libxxf86vm-dev libxcursor-dev libxi-dev libxrandr-dev libxinerama-dev libglew-dev libgomp1
install:
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # Create and activate environment from environment.yml
  - conda env create -f environment.yml
  - conda activate sispo
  - chmod +x build/blender/temp_install.sh
  - ./build/blender/temp_install.sh
  - python setup.py bdist_wheel
script: python test_basics.py
#cache:
#  apt: true
#  directories:
#  - software/blender
#  - /home/travis/src
#  - /opt/lib